link href="/assets/styles.css" rel="stylesheet"

a.button(href=jjk_path)
  | Back to Home Page

h1 Berserk Details


h2 Guts
img#myImage2 border="5" center="" height="400" width="600" src="https://destroythecomics.com/wp-content/uploads/2017/06/berserk1280jpg-7586fc_1280w.jpg"

h2 Griffith
img#myImage2 border="5" center="" height="400" width="300" src="https://upload.wikimedia.org/wikipedia/en/7/7a/GriffithBerserk.png"

h2 Casca
img#myImage2 border="5" center="" height="400" width="300" src="https://i.redd.it/2cxlpiiy9gm61.png"

h2 
  u Guts' Party
h3 Puck
img#myImage2 border="5" center="" height="400" width="300" src="https://i.pinimg.com/originals/20/8f/56/208f56e647896c619f36595d8715180f.jpg"

h3 Farnese de Vandimion
img#myImage2 border="5" center="" height="400" width="300" src="https://cdn.myanimelist.net/images/characters/6/330918.jpg"

h3 Serpico
img#myImage2 border="5" center="" height="400" width="500" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a50c6b5b-d0d2-4495-ba80-a42feb9fe397/delbi0m-9ecdb706-a9c6-40ad-ab0e-5f0da9ee844a.png/v1/fill/w_911,h_877,q_70,strp/serpico_and_farnese__colored__by_nier54_delbi0m-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTkzIiwicGF0aCI6IlwvZlwvYTUwYzZiNWItZDBkMi00NDk1LWJhODAtYTQyZmViOWZlMzk3XC9kZWxiaTBtLTllY2RiNzA2LWE5YzYtNDBhZC1hYjBlLTVmMGRhOWVlODQ0YS5wbmciLCJ3aWR0aCI6Ijw9MTAzMSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.oOe6TsZJcN4Dl3K_OhmXKJ95LaIwCdIoRACu1Zv07d0"

h3 Isidro
img#myImage2 border="5" center="" height="400" width="300" src="https://i.pinimg.com/564x/4b/e1/bc/4be1bcfe2067b95f2b3d6923dc5907dc.jpg"

h3 Schierke
img#myImage2 border="5" center="" height="400" width="300" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/15094a7d-127a-425e-8ed4-2e72813e80ec/df9c2r2-dccc99a7-dc6f-42b4-ad26-95cc3cebfb62.png/v1/fill/w_975,h_820,q_70,strp/berserk___schierke_manga_colored_by_victoors_deviantart_df9c2r2-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzU3MCIsInBhdGgiOiJcL2ZcLzE1MDk0YTdkLTEyN2EtNDI1ZS04ZWQ0LTJlNzI4MTNlODBlY1wvZGY5YzJyMi1kY2NjOTlhNy1kYzZmLTQyYjQtYWQyNi05NWNjM2NlYmZiNjIucG5nIiwid2lkdGgiOiI8PTkwMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.A_ScSGohgllcayGFWIXyqA-hhw31yywaQG0hXPBCokU"

h3 Ivalera

h3 Manifico de Vandimion

h3 Azan

h3 Roderick of Schtauffen

h3 Isma

h2 
  u Antagonists
h3 The God Hand

h3 Void

h3 Slan

h3 Ubik

h3 Conrad

h2 
  u The New Band of the Hawk
h3 Nosferatu Zodd

h3 Grunbeld

h3 Locus

h3 Irvine

h3 Rakshas

h3 Sonia

h3 Mule Wolflame

h2 
  u Apostles
h3 Snake Lord

h3 The Count

h3 Wyald

h3 Rosine

a href='https://en.wikipedia.org/wiki/List_of_Berserk_characters' char







