div {
  &#accounts-error-explanation {
    h2 { margin-left: 50px; }
    ul { margin-left: 50px; }
  }
  &#parent { display: none; }

  &.inline { display: inline; }
  &.non-detail {
    table { &.accounts { margin: 12px; } }
  }


  &.account-content {
    color: #666;
    height: 2870px;
    padding: 25px;
  	right: 20px;
  	width: auto;
  }
  &.account-form-container { width: 80%; }
  &.account-info-container {
    & > div {
      float: left;
      width: 40%;

      &.left { margin: 0 0 0 1.5%; }
      &.right {
        margin-top: 2px;
        width: 57.5%;

        table { &.online-service { margin-top: 15px; }}
      }
    }
  }
  &.two-level-date { text-align: center; }
}


section {
  &#stale-accounts {
    margin: auto;
    overflow: auto;
    padding: 0 5px;
    vertical-align: top;
    width: 1368px;
  }
}


table {
  &.accounts {
    table-layout: fixed;
    width: 1180px;

    td, th {
      white-space: nowrap;

      &.account-number { width: 7%; }
      &.division-product { width: 16%; }
      &.email { width: 16%; }
      &.full-name { width: 12%; }
      &.location { width: 15%; }
      &.name { width: 24%; }
      &.status { width: 10%; }
      &.website { width: 24%; }

      span {
        &.exiting-client {
          color: #ff0000;
          font-size: .96em;
        }
      }
    }
    td {
      &.account-number { a { font-weight: bold; } }
      &.admin { color: #ff7f00; }
      &.division-product {
        font-size: .91em;

        .sf-product { font-size: .88em; }
      }
      &.email { a { font-size: .89em; } }
      &.name { a { font-size: .95em; } }
      &.seo-rep { color: #8b0000; }
      &.website { a { font-size: .89em; } }
    }
    tr {
      &.account {
        td {
          &.location {
            font-family: Courier;
            font-size: .89em;
          }
        }
      }
      &.exiting-account {
        td {
          &.full-name {
            font-size: .91em;

            &.missing {
              font-size: .85em;
              font-style: italic;
            }
          }
        }
      }
      &.exiting-client { background: #fffafa; }
      &.former-client { background: #e8e8e8; }
      &.active-prospect { background: #f6f9ed; }
    }
  }
  &#account-danger-zone {
    table-layout: fixed;
    width: 1070px;
  }
  &#account-details {
    &.exiting-client { background: #fffafa; }

    td {
      text-align: right;
      white-space: nowrap;

      &#other-listings { white-space: normal; }

      &.attribute-value { text-align: left; }
      &.password-border { border-left: 1px solid #cccccc; }
      &.smr-to {
        font-size: 0.92em;
        white-space: normal;
      }
      &.status {
        font-size: .96em;
        font-weight: bold;
      }
      &.tr-product-types {
        font-size: .88em;
        white-space: normal;
      }
    }

    tr {
      &.exiting-client, &.financial-hold {
        td.attribute-value { color: #ff0000; }
      }
      &.section-header {
        td { text-align: center; }
      }
    }
  }
  &#account-info {
    width: 96%;

    td, th {
      text-align: center;
      white-space: nowrap;

      &#add-profile-link { text-align: right; }
      &#ctr_status {
        span {
          &.flag {
            font-size: .99em;
            letter-spacing: .8px;
          }
        }
      }
      &#current-services { border-bottom: 0; }
      &.attribute-label { text-align: right; }
      &.attribute-value { font-size: 0.92em; }
      &.block-filler { background: #eeeeee none repeat scroll 0 0; }
      &.labels-column   { width: 18%; }
      &.labels-column-small { width: 17%; }
      &.password-border { border-left: 1px solid #ccc; }
      &.smr-to { white-space: normal; }
      &.support-link-container { text-align: right; }
      &.values-column   { width: 31%; }

      a { &#add-profile { font-size: 8pt; } }
      span {
        &.flag {
          font-weight: bold;
          font-size: .9em;
          &.affirmative { color: green; }
          &.negatory { color: red; }
        }
        &.no-address-provided { font-size: 0.88em; }
      }
    }
    tr {
      &#add-shortcuts-container {
        td {
          border-top: 0;
          text-align: center;
          a {
            font-size: 8pt;
            font-weight: normal;
          }
        }
      }
      &#ctr-options {
        td {
          &.no-ctr { span { color: #bbb; } }
        }
      }

      &.section-header {
        td {
          span { &.flag { font-size: 1em; } }
        }
      }
    }
  }
  &#stale-accounts {
    width: 98%;

    td, th {
      &.account-number { width: 12%; }
      &.name { width: 34%; }
      &.services { width: 49%; }
    }
    th {
      &.name {
        text-align: center;
        vertical-align: bottom;
      }
      &.title-container { vertical-align: bottom; }
    }
    tr { &.former-client { background: #fcfcfc none repeat scroll 0 0; } }
  }
}
.sales-order-products {
  margin: 15px;
  .sales-order-selection {
    margin: 15px;
  }
  table {
    width: 95%;
    td {
      vertical-align: top;
    }
    .comment td {
      color: gray;
      padding-left: 40px;
    }
  }
}
