@import "mixins";

.new-account-log > form > table, .account-logs > table {
  width: 98%;
  margin: 0 0 0 15px;
  font-size: 12px;
  & td {
    vertical-align: top;
  }
  & .label {
    font-weight: bold;
    color: #669;
  }
  & .checkbox-dropdown {
    font-size: 14px;
    & div a {
      font-size: 14px;
    }
  }
  & input {
    max-width: 50%;
  }
}

.account-logs {
  width: auto;
  & .timestamp { font-weight: bold; }
}

#history-notes.account-logs {
  table-layout: auto;
  & .note {
    white-space: normal;
  }
  & .divider-row {
    height: 0;
    padding: 0;
  }
}

div.section-title {
  font-size: 20px;
  font-weight: bold;
  color: #039;
  width: 98%;
  margin: 15px;
  border-bottom: 2px solid #6678b1;
}

.tag {
  &.admin           { color: #ff7f00; }
  &.blog            { color: #66cdaa; }
  &.content         { color: #ee4000; }
  &.directory       { color: #7d26cd; }
  &.email           { color: #008b8b; }
  &.hosting         { color: #8b795e; }
  &.ppc             { color: #f2dede; }
  &.portal          { color: #7ec0ee; }
  &.review-monitor  { color: #006400; }
  &.review-widget   { color: #8fbc8f; }
  &.seo             { color: #8b0000; }
  &.smart-banner    { color: #73dede; }
  &.social-media    { color: #000080; }
  &.web-development { color: #ffd700; }
}

// for js loaded panels
.panel {
  .account-logs-container {
    .index-row {
      .divider-row > .stretch-column > div {
        padding-bottom: $padding-general-large;
      }
    }
  }
}

// for modal form
#modal-main {
  #account-log-form label {
    white-space: nowrap;
  }
}

// Attachment AND Submit Buttons in History Notes
.asset-fog-btn {
  font-size:        $general-font;
  background-color: $primary-light;
  color:            white;
  padding:          $padding-general;
  display:          inline-block;
  border-radius:    $radius-general;
  box-sizing:       border-box;
  height:           $height-input;
  white-space:      nowrap;
  border:           0;
  
  &:hover, &.selected {
    cursor:           pointer;
    background-color: $secondary;
    color:            black;
  }
}

.asset-fog-attachment {
  font-size:        $general-font;
  background-color: $grey-light;
  color:            $grey-dark;
  font-size:        .8rem;
  font-weight:      bold;
  display:          inline-block;
  border-radius:    $radius-general;
  white-space:      nowrap;
  
  &:hover, &.selected {
    cursor:           pointer;
    background-color: $secondary;
    color:            black;
  }
}