section {
  .dashboard-user-record {
    padding: 10px;
      div {
        &.submit-overlay-form {
          padding: 25px 0px;
          text-align: center;

          input {
            &.button {
              background: #eeeeee linear-gradient(#fcfcfc, #eeeeee) repeat-x scroll 0 0;
              border: 1px outset #d5d5d5;
              color: #191970;
              padding: 6px 11px;
              vertical-align: middle;

              &:hover {
                background-color: #b33630;
                background-image: linear-gradient(#0000ff, #0000cd);
                background-repeat: repeat-x;
                border-color: #191970;
                color: #ffffff;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
              }
            }
          }
        }
      }
        fieldset {
          border-radius: 3px;
          padding-bottom: 20px;
          text-align: left;

          legend {
            color: #666699;
            font-size: 1.24em;
            font-weight: bold;
            padding: 2.5px 0px;
            width: 100%;
          }
        }
  }
}