#epitomize-user-index {
  width: 98%;

  tr {
    &.Active { }
    &.Pending {
      td { background: #fef5ca; }
    }
  }
  td {
    white-space: nowrap;
    &.id-status-customer { }
    &.name-practice {
      font-size: .8em;
    }
    &.email-phone {
      font-size: .8em;
    }
    .Active { color: green; }
    .Pending { color: orange; }
    .Inactive { color: gray; }
    .unconfirmed { color: red; }
  }
}
#epitomize-user-show {
  .left { float: left; }
  .right { float: right; }
  .Active { color: green; }
  .Pending { color: orange; }
  .Inactive { color: gray; }
}