.divider {
  border-left: 1px solid rgb(204, 204, 204);
}

.borderless {
  border-bottom: 1px solid white;
}

.sub-header td:nth-child(n+2){
  color: #669;
  background: #eee;
}

#full-seo-report .no-highlight:hover {
  background-color: white;
}

#full-seo-report .up {
  color: #57ad4e;
}
#full-seo-report .down {
  color: #ea504d;
}

#full-seo-report tr.divider-row td{
  padding: 0 0 0 0;
}

#full-seo-report tr.divider-row td:nth-child(-n+1){
  border-top: 1px solid white;
}

#full-seo-report tr.divider-row td:nth-child(n+2){
  border-top: 1px solid #669;
  border-bottom: 1px solid #669;
}

#full-seo-report .projects td:nth-child(-n+1){
  border-right: 2px solid #669;
}

#full-seo-report .expander{
  background-color: #fef5ca
}
