a { 
  &.update-gallery-photo { margin-left: 170px; }
  &.component-url { font-size: .91em; }
}

div {
  &#gallery-thumb-info-container, &#review-monitor-info-container {
    div {
      float: left;
      width: 47%;
      
      &.left { margin: 0 0 0 1.5%; }
      &.right { }
    }
  }
}


.main-content h1 {
	color: #003399;
	font-size: 1.5em;
	border-bottom: 1px solid #ccc;
	margin: 0px 10px 0px 0px;
}


form table textarea {
  width: 330px;
  height: 130px;
  padding: 3px;
  margin: 0px;
}

input.error {
	border: 2px solid red;
}

label.error {
  display: block;
  color: red;
  font-style: italic;
  font-weight: normal;
}

label.valid {
  background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/checked.gif') no-repeat;
  display: block;
  height: 16px;
  width: 16px;
}



section {
  &#gallery-thumb-form {
    color: #666;
    padding: 25px;
    right: 20px;
    
    div {
      &.kontrol-group {
        div {
          &.options-container {
            color: #565a5c;
            display: block;
            padding: 1px 0;
          }
        }
      }
      &.kontrol-radio {
        label {
          border-radius: 6px;
          
          &.sub-label {
            border: 1px solid #c4c4c4;
            color: #565a5c;
            display: inline-block;
            font-size: 1.1em;
            padding: 8px 10px;
            text-align: center;
            width: 14%;
          }
        }
      }
      &.row-spacing-1 { margin-bottom: 3px; }
    }
    
    input[type="radio"] {
      display: none;
      
      &:checked + label {
        color: #fffffe;
        background-color: #00527a;
      }
      &#gallery_thumb_active_0 {
        &:checked + label { color: #444; }
        &:checked + label { border-color: #444; }
        &:checked + label { background-color: #aaa; }
      }
      &#gallery_thumb_active_1 {
        &:checked + label { color: #228b22; }
        &:checked + label { background-color: #c0edaa; }
        &:checked + label { border-color: #006400; }
      }
    }
  }
}


table {
  &#gallery-thumb-location { margin-top: 17px; }
  &#gallery-thumb-details, &#review-monitor-business-info {
    margin-left: 0px;
    width: 500px;
    
    &.photo-options {
      width: 40%;
      table { 
        td { 
          border: 0;
          vertical-align: middle; 
        } 
      }
    }
    td {
      &.data {
        div {
          &.photo-data {
            display: inline-block;
            float: left;
            width: 44%;
          }
          &.photo-options {
            display: inline-block;
            
            width: 47%;
            table { 
              td { 
                border: 0;
                vertical-align: middle; 
              } 
            }
          }
        }
      }
      &.label {
        font-size: 9pt;
        text-align: right; 
      }
      &.url { text-align: center; }
      
      span {
        &.native-directory-indicator {
          border-radius: 50%;
          display: inline-block;
          height: 6px;
          position: relative;
          width: 6px;

          &.native     { background: green; }
          &.non-native { border: solid 1px green; }
          &.foreign    { background: yellow; }
        }
      }
    }
    
    tr {
      &.main-header { th { font-size: 13.5px; } }
      &.photo-record {
        td {
          &.value {
            div {
              &.photo-interface {
                width: 100%;
                
                div {
                  padding: 3px 1px;
                  
                  &.delete-photo-container {
                    span {
                      margin-top: 50px;
                      
                      &.danger-zone {
                        div { width: 100%; }
                        input.button {
                          border-radius: 3px;
                          padding: 2px 6px;
                        }
                      }
                    }
                  }
                  &.interface-component { display: inline-block; }
                  &.interface-button {
                    height: 75px;
                    width: 30%;
                    text-align: center;
                    vertical-align: bottom;
                    
                    span {
                      display: inline-block;
                      height: 100%;
                    }
                  }
                  &.photo-data { width: 34%; }
                  &.photo-options { width: 61%; }
                  &.update-photo-container {
                    a {
                      display: inline-block;
                      padding: 3px 7px;
                      vertical-align: bottom;
                    }
                    span { &.helper { vertical-align: bottom; } }
                  }
                }
                input { &.upload-button { padding: 3px 7px 5px; } }
              }
            }
          }
        }
      }
    }
  }
  &#gallery-thumb-index {
    table-layout: fixed;
    width: 1070px;
    
    tbody {
      td {
        white-space: nowrap;
        
        &.accuracy { font-size: 8pt; }
        &.approximated {
          color: #f08080;
          font-weight: 800;
        }
        &.changed {
          color: #800000;
    	    font-weight: 900;
        }
        &.change-status-links { 
          min-width: 100px;
          text-align: center;
        }
        &.danger-zone {
          cursor: default;
          text-align: center; 
          padding-top: 20px;
        }
        &.exact { color: #2e8b57; }
        &.gallery-thumb-address { 
          font-size: .81em;
          white-space: normal;
        }
        &.gallery-thumb-doctor  { 
          font-size: .87em; 
          width: 145px;
          white-space: normal;
        }
        &.gallery-thumb-url { a { font-size: .9em; } }
        &.geometric-center { font-size: .77em; }
        &.id-status {
          max-width: 32px;
        }
        &.manual {
          background: #fdfcdc;
          font-weight: 800;
        }
        &.range-interpolated { font-size: .73em; }
        &.status-toggle { width: 5px; }
      }
      
      tr {
        &.danger-zone-container { 
          border-bottom: 0;
          &:hover { background: none; }
        }
      }
      
    }
    
    th {
      &.fixed-accuracy { width: 95px; }
      &.fixed-address { width: 130px; }
      &.fixed-doctor-info { width: 145px; }
      &.fixed-product { width: 115px; }
      &.fixed-url {
        max-width: 440px;
        width: 432px;
      }
      &.status-toggle {
        padding: 0;
        width: 1px;
      }
      
      &.title-container {
        font-size: 1.3em;
        padding-bottom: 1px;
        white-space: nowrap;
        width: 32px;
      }
    }
  }
  &#new-gallery-thumb {
    td {
      &.label {
        font-size: 10pt;
        width: 150px;
      }
      &.field {
        input[type=text] { line-height: 18px; }
      }
    }
  }
}


section {
  &#native-directory-legend {
    padding: 2px 33px 15px;
    span {
      &.native-directory-indicator {
        border-radius: 50%;
        display: inline-block;
        height: 6px;
        position: relative;
        width: 6px;

        &.native     { background: green; }
        &.non-native { border: solid 1px green; }
        &.foreign    { background: yellow; }
      }
      &.small-caption {
        display: inline-block;
        font-size: .91em;
        padding: 0px 11px;
        &.first { 
          padding-right: 0px;
          width: 100%;
        }
        &.rest { margin-left: 10px; }
      }
    }
  }
}


td {
  &.align-top { vertical-align: top; }
  
  div {
    &.doctor-photo-container {
      div {
        &.photo { display: block; }
        &.doesnt-exist { display: none; }
      }
    }
  }
}
