.editable-attribute-container:hover {
	background: #fef5ca url(/images/inline_edit.png) no-repeat;
	background-position: right;
}

.editable-attribute-field {
  display: inline;
}
.editable-attribute-controls {
  display: inline;
}