// Place all the styles related to the intervals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a {
  .support.positive-notice {
    color: #008000;
  }

  &#total-hrs {
    font-weight: bold;
  }

}



div {


  &.none-yet {
    color: red;
  }
}

table {
  &#intervals {
    margin-left: 0px;

    th {
      a { font-weight: bold; }
    }

    tr {
      &.closed-step {
        td {
          font-size: .94em;
        }
      }
      &.current-step {
        td {
          background: #fffffe;
          font-size: .99em;
          font-family: 'Open Sans, Courier', sans-serif;
          font-weight: 600;
          padding: 6px 8px;
          vertical-align: middle;

          &.hours {
            color: #5518ab;
            font-weight: bold;
          }

          span {
            &.in-progress {
              background: #008000;
              border-radius: 50%;
              display: inline-block;
              font-weight: bold;
              height: 8px;
              margin-left: 5px;
              width: 8px;
            }
          }
        }
      }
      &.interval { vertical-align: top; }
      &.section-header {
        td { background: #ccc; }
        .identifier { margin-left: 1px; }
      }
    }
  }
}
