.keyword-ranks {
  white-space: nowrap;
  & div.tooltipLink:hover div.tooltip {
      left: 0;
      white-space: nowrap;
      width: 350px;
  }
  & tbody tr:hover td { background-color: #fef5ca; }
  & .sort-row td:hover { background-color: #fef5ca; }
}