@import "mixins";

.legend {
  list-style-type: none;
  width: fit-content;
  //width: auto;

  &.project {
    //text-align: center;
    //width: auto;
  }
  ul {
    li {
      display: inline-block;
      font-size: 100%;
      list-style: none;
      margin-right: 20px;
      line-height: 18px;
      margin-bottom: 2px;
    }
    span, div {
      display: block;
      float: left;
      height: 16px;
      width: 16px;
      margin-right: 5px;
      margin-left: 0;
      border: 1px solid #999;
    }
  }
}
