body {
  &.development { background-color: #fefff1; }
  &.sandbox     { background-color: #ecf1ef; }
  &.staging     { background-color: #ddd;    }
}





#logincontain {
	margin: 170px auto 0px auto;
	padding: 0px;
	width: 458px;
	background-image:  url(../assets/login/login_05.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}

#loginlogo { width: 458px; padding: 20px 0px 20px 0px;}

.logintext { width: 170px; text-align: right; float: left; padding: 6px; }

.logininput { width: 200px; text-align: left; float: left; padding: 6px; }

.login-controls { margin: auto; width: 100%; text-align: center; padding: 20px 0px 20px 0px; float: left; }

#remember_me { display: inline; margin-left: 29px; padding: 0 5px; }
#login-submit { display: inline; }

.alert-info.forget-pw {
  margin-bottom: 0px;
}

li.devise_link a { color: #00527A; }

.alert a {
  font-size: 11px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}