@charset "utf-8";
/* CSS Document */

body {
	margin: 0px auto 0px auto;
	text-align: center;
	padding: 0px;
	font-family: Arial;
	font-size: 11px;
	color: #666;
}

ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,div,dd,dt,dl,button {
  margin: 0px;
  padding: 0px;
}

fieldset, img { border: 0 none; }

a {
  font-weight: normal;
  font-size: 9pt;
  text-decoration: none;

  &:hover { text-decoration: underline; }
  &:visited { color: #4100ff; }
  &.breadcrumb { font-size: 8pt; }
}

.button {
  background: #fff;
  border: 1px outset #1e3111;
  border-bottom-color: #039;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),0 1px 0px rgba(0, 0, 0, 0.05);
	color: #333;
	font-size: 11px;
  font-style: normal !important;
  font-weight: bold;
	padding: 2px 7px 3px;
  text-align: center;

  &:hover {
    background: #fff;
    border: 1px solid #1e3111;
    color: #222;
    cursor: pointer; /* cursor: hand; for IE5 */
  }
}

.hidden { display: none; }
.fake-link {
  color: blue;
  cursor: pointer;
  font-weight: normal;

  &.support { font-size: 11px; }
}

.danger-zone {
  input {
    &.button {
      background: #eee;
      background-image: linear-gradient(#fcfcfc, #eee);
      background-repeat: repeat-x;
      border: 1px outset #d5d5d5;
      color: #900;
      padding: 6px 11px;
      vertical-align: middle;

      &:hover {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
        background-color: #b33630;
        background-image: linear-gradient(#dc5f59, #b33630);
        background-repeat: repeat-x;
        border-color: #cd504a;
      }
    }
  }
}

// Due to some Ad-BLockers blacklisting some popular icons
.fa-google-plus:before, .fa-google-pluz:before {
  content: "\f0d5";
}


br {
  &.clear { clear: both; }
}



#container { margin: 0px auto 0px auto; text-align: center; width: 1200px; }

#stale_data_warning {
	border: 1px solid #FFCC00;
	background-color: #FFFFCC;
}

.input {
	width: 150px;
	border: 1px solid #a8a8a8;
	height: 15px;
	font-family: Arial;
	font-size: 11px;
	color: #0087bf;
}

div {
  &#leftcol {
    float: left;
    height: auto;
    min-height: 200px;
    width: 1095px;

    &.detail {
      border-left: solid #f8f8f8;
      border-bottom: solid #f8f8f8;
      width: 1200px;
    }
  }
  &#main {
    background-image: url(../images/shell_16.jpg);
    background-repeat: repeat-y;
    background-position: left top;
    float: left;
    margin-top: 3px;
    text-align: left;
    width: 1200px;
    &.no-right-border {
      width: 1196px;
    }
  }
}

#frame {
	width: 1200px;
	text-align: left;
	background-position: left top;
	margin-top: 10px;
	float: left;
}

#client-name {
	width: 1196px;
	background-color: #005584;
	border: outset 2px #E6E8E5;
	height: 20px;
	float: left;
	
	& p {
		font-family: Arial;
		font-size: 12px;
		text-transform: uppercase;
		color: #fff;
		font-weight: normal;
		padding: 5px 0px 0px 10px;
	}
	
	& div {
		margin-top: -3px;
		& a, span {
			color: #fff;
			font-size: 15px;
		}
	}
	
	& #cname {
		float: left;
	}
	& #caccnum {
		float: right;
		padding-right: 10px;
	}
}

div#services {
	width: 1200px;
	background-image: url(../images/shell_13.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 23px;
	float: left;
}

#services p {
	font-family: Arial;
	font-size: 15px;
	text-transform: uppercase;
	color: #00527A;
	font-weight: normal;
	padding: 3px 0px 0px 10px;
}

div#report_links {
	margin: 15px;
	font-size: 12px;
}

#rightcol { width: 105px; float: left; }


#footer {
	width: 1200px;
	height: 24px;
	text-align: left;
	margin-top: 10px;
	float: left;
}

#footer p {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	padding: 5px 0px 0px 10px;
}

#maincontain { width: 1200px; float: left;}

iframe {
  border: 0px solid #fff;
}


h1 {
	color: #003399;
	font: 1.5em 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	border-bottom: 1px solid #CCC;
	margin: 0px 10px 0px 0px;
	width: 90%;
}

/* Main Account/Object view content (Newer styling scheme) */
/************************************************************/
div.main-content {
	min-height: 1100px;
	color: #666;
	right: 20px;
	padding: 25px;
	width: 1040px;
}

.main-content h1 {
	color: #003399;
	font: 1.5em 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	border-bottom: 1px solid #CCC;
	margin: 0px 10px 0px 0px;
}


/* Two Column Layout */
div#boxcontent .two-col, div#boxcontent .three-col {
	padding: 8px;
}

.two-col {
	overflow: visible;
}
.three-col {
	overflow: auto;
}
.four-col {
	overflow: auto;
}

.two-col .first {
	float: left;
	margin: 0 0 0 1.5%;
	width: 41%;
}

.two-col .second {
	float: right;
	width: 57%;
}

.two-col .last-column {
  float: left;
  width: 57%;
}

.two-col .first_uneven {
	float: left;
	margin: 0 0 0 1.5%;
	width: 40%;
}

.two-col .second_uneven {
	float: right;
	margin: 0 1.5% 0 0;
	width: 57%;
}

.two-col .first-7030 {
	float: left;
	margin: 0 0 0 1.5%;
	width: 68.5%;
}

.two-col .second-7030 {
	float: right;
	margin: 0 1.5% 0 0;
	width: 28.5%;
}

.two-col .content-left {
	float: left;
	margin: 0 0 0 1.5%;
	width: 44.5%;
}

.two-col .content-right {
	float: right;
	margin: 0 1.5% 0 0;
	width: 44.5%;
}

.two-col .stubs-left {
	float: left;
	margin: 0 0 0 1.5%;
	width: 44.5%;
}

.two-col .stubs-right {
	float: right;
	margin: 0 1.5% 0 0;
	width: 44.5%;
}

.three-col .first {
	float: left;
	margin: 0 0 0 2.5%;
	width: 29%;
}

.three-col .second{
	float: left;
	margin: 0 2.5% 0 2.5%;
	width: 29%;
}

.three-col .third{
	float: right;
	margin: 0 2.5% 0 0;
	width: 29%;
}


.four-col .first_ovrlay{
	float: left;
	margin: 0 0 0 1.5%;
	width: 22%;
	padding-right: 5px;
}

.four-col .second_ovrlay{
	float: left;
	margin: 0 1.5% 0 1.5%;
	width: 22%;
}

.four-col .third_ovrlay{
	float: left;
	margin: 0 1.5% 0 1.5%;
	width: 22%;
}

.four-col .fourth_ovrlay{
	float: right;
	margin: 0 1.5% 0 0;
	width: 22%;
}
/* end */


/* One Column */

.one-col-narrow {
	overflow: auto;
	margin: 0 0 0 1.8%;

}

.one-col {
	overflow: auto;
	margin: 0 0 0 1.8%;

}
/******end*******/

/* Top Middle Bottom*/
.bottom {
	border: 1px outset #003399;
	padding: 15px;
	background: #eee;
	width: 96%;
}

div.non-detail {
	overflow-x: auto;
}

/* Scaffolding CSS */
.fieldWithErrors {
  padding: 2px;
  border-color: red;
  /*display: table;*/
}

#error-explanation {
  width: 97%;
  border: none;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error-explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error-explanation p {
	display: none;
}

#error-explanation ul {
	padding: 20px;
}

#error-explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* Don't erase below!!!!!!!!
/* Flash Notice Style */
#flash {
  font: bold 1em sans-serif;
  margin-bottom: 1em;
  padding: .5em;
  text-align: center;

  &.alert.alert-warning {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: red;
    margin-bottom: .1em;
    padding: .45em;
  }

  &.error {
  	border: 1px solid #af5f5f;
    border-radius: 3px;
  	background-color: #fff0f0;
  	color: red;
  }
}

.notice { color: green; }

.warning {
	border: 1px solid #ffcc00;
	background-color: #ffffcc;
}

.editable:hover { background: #fef5ca; }

.identifier { color: green; }

.expander {
  cursor: pointer;
}

.expandable {
  display: none;
}

.expanded td {
  padding-left: 30px;
}

.deactivate, .activate {
  cursor: pointer;
  color: #4100ff;
  text-transform: capitalize;
}

.deactivate:hover, .activate:hover {
  text-decoration: underline;
}


section {
  &#landing {
    color: #183c70;
    padding: 20px 0px;

    div {
      &.chart { padding: 10px 0px; }
    }

    section {
      &.google-charts {
        padding-right: 40px;
        padding-top: 10px;
      }
       &.project-tables {
         padding: 30px 40px;

         h2 {
           letter-spacing: 1px;
           margin-top: 30px;

           &#closed-projects { margin-top: 50px; }
         }
         table {
           &.projects-totals {
             margin: 0 auto;
             width: 100%
           }
         }
       }
    }
  }
}



span.stage_alert {
  color: red;
  display: block;
  font-weight: 900;
  width: 80%;
}

span {
  &.stage-alert {
    color: red;
    display: block;
    font-size: .89em;
    font-weight: bold;
    margin-left: 8px;
    width: 97%;
  }
}

h2.title {
  margin: 30px 0 0 15px;
  padding: 0;
}

.page-break {
  clear: both;
  display: block;
  page-break-after: always;
}


div {
  &.error {
    font-size: 12pt;
    text-align: center;
  }
}



span {
  &.beta { font-size: .84em; }
  &.explanation {
    font-size: 9.5px;

    span {
      font-size: 1.04em;
      &.blank-legend        { color: #cdad00; }
      &.form-inactive       { color: #00ffff; }
      &.inactive-legend     { color: #6a6a6a; }
      &.invalid-legend      { color: #dc143c; }
      &.file-missing-legend { color: #ff0000; }
      &.general-legend      { color: black; }
      &.not-found-legend    { color: #00c5cd }
      &.error-name-legend   { color: #000099; }
      &.pending-legend      { color: #cdad00; }
      &.current-legend      { color: #008000; }
      &.url-legend          { color: blue;    }
      &.verify-legend       { color: #006400; }

      &.error-clarfication  {
        font-size: 1.04em;
        letter-spacing: .3px;
      }
      &.support-text   { font-weight: normal; }
    }
  }
	&.percent-value {
		color: #1e90ff;
		&.negative-growth { color: red; }
		//&.positive-growth { color: #008b00; }
	}

  &.percent-value-month {
    color: #1e90ff;
    &.negative-growth { color: red; }
    //&.positive-growth { color: #008b00; }
  }
}



table {
  span {
    &.status-name    { font-size: .88em; }
    &.subtext-marker { font-size: .88em; }
  }

  tr {
    &.columns-header {
      background: #eee;

      td { white-space: nowrap; }
    }
  }
}


/* Moved from home.css */
a { text-decoration: none; }

ol, ul { list-style: none; }

ul {
  &.projects-index-links {
    margin-top: 6px;
    margin-left: 8px;
    z-index: 1;
    width: 100%;

    li {
      color: #00527A;
      display: inline-block;
      float: left;
      font-family: Arial;
      font-size: .95em;
      font-weight: bold;
      padding: 0 3px 0 3px;
      position: relative;
      text-align: left;
      text-transform: uppercase;
      z-index: 1;

      &.project-index-title {
        white-space: nowrap;
        font-size: 1.35em;
        width: 20%;

        span { &.action-title { margin-left: 11px; } }
      }

      a {
        color: #00527A;
        font-size: 1.06em;
        margin-top: 1px;
        &:hover { text-decoration: underline; }
        &.current {
          text-decoration: underline;
        }
      }
      div { &.breadcrumb-container { margin-top: 2px; } }

    }
  }

  &#home-links {
    display: block;
    margin-top: 6px;
    margin-left: 8px;
    position: relative;
    z-index: 1;

    li {
      color: #00527A;
      float: left;
      font-family: Arial;
      font-size: 11px;
      font-weight: bold;
      position: relative;
      text-transform: uppercase;
			margin-right: 10px;
			a {
				color: #00527A;
				margin-top: 1px;
				&:hover { text-decoration: underline; }
			}
    }
  }
}

.scrolling-table-header {
  position: relative;

  &.scrolled {
    position: fixed;
    top: 0;
    z-index: 1000;
  }
}

.subsection {
	text-align: left;
	float: left;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 2%;
	&.half-subsection {
		width: 48%;
		margin-right: 0px;
	}
	&.whole-subsection {
		width: 98%;
	}
	& .subsection {
		margin-top: 0px;
	}
	& table {
		margin-top: 0px;
		margin-left: 0px;
	}

    & .text-block {
      overflow: hidden;
      border: 2px solid #336699;
      line-height: 14px;
      width: 60%;

      .sm-icons {
        float: right; padding: 5px;

        .fa-square-twitter {
          color: #55acee;
        }

        .fa-square-facebook{
          color: #506679;
        }
      }
    }
    & .limited-text {
      background-color: white;
      border: none;
      overflow: auto;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      resize: none;
      height: 300px;
    }
}
.text-right {
  text-align: right;
}
