@import "mixins";

//cell colors
// notice and success have the same color due to some default flash messges
td, div, tr {
	&.divider-color {
		background-color: #336699; // dark blue
		&.no-hover:hover { background-color: #336699; }
		& .color-text { color: white }
	}
	&.success-color, &.notice-color { // green
		background-color: #dff0d8;
		& .color-text { color: darken(#dff0d8, 50%); }
	}
	&.danger-color, &.error-color { // red
		background-color: $danger;
		& .color-text { color: white }
	}
	&.highlight-color { background-color: #e8dcff; } // purple
	&.important-color { // light blue
		background-color: #e8edff !important;
		&.no-hover:hover { background-color: #e8edff; }
	}
	&.caution-color { // yellow
		background-color: #fef5ca !important;
		& .color-text { color: darken(#fef5ca, 50%); }
	}
	&.alert-color { // light yellow
		background-color: #fcf8e3 !important;
		&.flash { border-color: #fbeed5; }
		& .color-text { color: #c09853; }
	}
	&.disable-color { background-color: #e8e8e8 !important; } // grey
}

//text colors
span, a, option {
	&.success-color, &.notice-color { color: darken(#dff0d8, 40%); }
	&.danger-color, &.error-color   { color: darken($danger, 5%); }
	&.highlight-color 							{ color: purple; } // purple
	&.important-color 							{ color: darken(#e8edff, 20%); }
	&.caution-color 						    { color: darken(#fef5ca, 50%); }
	&.alert-color 									{ color: darken(#fcf8e3, 5%); }
	&.disable-color   							{ color: darken(#e8e8e8, 20%); }
}

div.legend-text-label {
	&.success-color, &.notice-color { background-color: darken(#dff0d8, 40%); }
	&.danger-color, &.error-color   { background-color: darken($danger, 5%); }
	&.highlight-color 							{ background-color: purple; } // purple
	&.important-color 							{ background-color: darken(#e8edff, 20%); }
	&.caution-color 						    { background-color: darken(#fef5ca, 50%); }
	&.alert-color 									{ background-color: darken(#fcf8e3, 5%); }
	&.disable-color   							{ background-color: darken(#e8e8e8, 20%); }
}

.alternating-table tbody tr:nth-child(even), thead tr {
  & td {
    background-color: lighten(#e8e8e8, 4%);
		&.success-color, &.notice-color { background-color: darken(#dff0d8, 4%); }
		&.danger-color, &.error-color	  { background-color: darken($danger, 5%); }
    &.highlight-color							  { background-color: darken(#e8dcff, 5%); }
    &.important-color 							{ background-color: darken(#e8edff, 5%); }
    &.caution-color 								{ background-color: darken(#fef5ca, 5%); }
    &.alert-color 									{ background-color: darken(#fcf8e3, 5%); }
  }
}
