#application-header {
  width: 70%;
  margin: 0 auto;
  padding: 10px 20px;
  & div, & a {
    font-size: 12px;
  }
}

.environment-logo {
  float: left;
  background-repeat: no-repeat;
  background-position: left top;
  height: 79px;
  width: 259px;
  float: left;
}

#development-logo { background-image: url(../images/development.jpg); }
#production-logo  { background-image: url(../images/production_new.jpg); }
#sandbox-logo     { background-image: url(../images/sandbox.jpg); }
#staging-logo     { background-image: url(../images/staging.jpg); }