@import "mixins";

// basic panel styling
.panel {
  #loader {
    margin: 0;
    padding: $padding-general;
    .loader-content {
      background-color: $loading;
      border-radius: $radius-general;
      padding: $padding-general;
    }
  }
  padding-top: $padding-panel;
  padding-bottom: 0;
  padding-left: $padding-panel;
  padding-right: 0;

  &.no-pad {
    padding: 0;
  }


  &.full-width {
    padding-right: $padding-panel;
  }

  background: none;
  .panel-content {
    background-color: $white;
    border-radius: $radius-general;
    box-shadow: 0px 0px 10px -4px $grey-dark;
    &.no-pad {
      padding: 0;
    }
    .panel-header, .panel-divider {
      border-top-left-radius: $radius-general;
      border-top-right-radius: $radius-general;
      font-size: $font-header-large;
      background-color: $primary;
      color: $white;
      &.secondary {
        border-radius: 0;
        background-color: $grey-dark;
      }
      &.danger {
        background-color: $danger;
      }
      &.tertiary, &.informational {
        background-color: $tertiary;
      }
      &.inactive {
        background-color: $grey-dark;
      }
      &.primary-light {
        background-color: $primary-light;
      }
      &.alert-header {
        background-color: $secondary;
        color: $text-dark;
      }
    }
    .panel-divider {
      border-radius: $radius-general;
      padding: $padding-general;
    }
    .panel-main, & > div, & > form {
      padding: $padding-general;
      // top and right padding hidden due to padding from grids
      padding-top: 0;
      padding-right: 0;
      &.no-pad {
        padding: 0;
      }
    }

    &.horizontal-content {
      display: flex;

      .panel-header {
        border-radius: 0;
        border-top-left-radius: $radius-general;
        border-bottom-left-radius: $radius-general;
      }

      form {
        display: flex;
        flex-direction: row;
      }

      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    h1 {
      color: rgb(102, 102, 102);
      width: 100%;
      font-size: $font-header-large;
    }
  }

  // general styling (will remove panel restriction once all links are in panels)

  a {
    color: -webkit-link;
    font-size: $general-font;
    &:hover {
      cursor: pointer;
    }
  }

  .formatted-rich-text {
    word-break: break-word;
  }

  // input code nested in panels until all old input styling is replaced
  input[type='text'], textarea {
    box-sizing: border-box;
    width: 100%;
    font-weight: 400;
    font-size: $general-font;
    &.text-4-digit {
      width: 60px;
    }
  }

  textarea {
    height: 100px;
  }

  &.flash-panel {
    &.informational {
      .panel-header {
        background-color: $tertiary;
      }
      .panel-content {
        background-color: $tertiary-light;
      }
    }

    &.inactive {
      .panel-header {
        background-color: $grey-dark;
      }
      .panel-content {
        background-color: $inactive;
      }
    }

    &.danger {
      .panel-header {
        background-color: $danger;
        color: $danger-light
      }
      .panel-content {
        background-color: $danger-light;
        color: $danger
      }
    }

    &.alert-panel {
      .panel-header {
        background-color: $secondary-dark;
      }
      .panel-content {
        background-color: $secondary-light;
      }
    }
    &.notify-panel {
      .panel-header {
        background-color: $notify-dark;
      }
      .panel-content {
        background-color: $notify-light;
      }
    }
  }
}

// modal copies many panel styles
#unified-modal {
  position: absolute;
  max-height: 88vh;
  max-width: 88vw;
  display: none;

  left: 5%;
  top: 11%;

  box-shadow: 0px 0px 10px 0px #666;
  border-radius: $radius-general;

  #modal-main {
    background-color: white;
    border-radius: $radius-general;
    width: fit-content;
    height: fit-content;
    #modal-header {
      cursor: move;
    }
    #modal-header, .modal-divider {
      border-top-left-radius: $radius-general;
      border-top-right-radius: $radius-general;
      padding: $padding-general;
      // top and right padding hidden due to padding from grids
      padding-top: 0;
      padding-right: 0;
      font-size: $font-header-large;
      color: $white;
      background-color: $primary;

      #header-icon {
        padding-right: 6px;
      }

      .horizontal-grid {
        flex-wrap: nowrap;
        white-space: nowrap;
      }

      .close-modal {
        cursor: pointer;
        &:hover {
          color: $secondary
        }
      }

      &.informational {
        background-color: $tertiary;
      }
    }
    #modal-content {
      padding: $padding-general;
      // top and right padding hidden due to padding from grids
      padding-top: 0;
      padding-right: 0;
      max-height: 74vh;
      overflow: auto;
      & > div:not(.horizontal-grid) {
        padding-top: $padding-general;
        padding-right: $padding-general;
      }
      a {
        cursor: pointer;
        color: -webkit-link;
        font-size: $general-font;
        &.icon-only {
          color: inherit;
          &.danger {
            color: $danger;
          }
          &.notice {
            color: $primary-light;
          }
        }
        &.button-unified {
          color: white;
          &:hover {
            color: black;
          }
        }
      }
      .modal-divider {
        border-radius: $radius-general;
        padding: $padding-general;
      }
    }
    #modal-actions {
      border-bottom-left-radius: $radius-general;
      border-bottom-right-radius: $radius-general;
      background-color: darkgrey;
      padding: $padding-general;
      // top and right padding hidden due to padding from grids
      padding-top: 0;
      padding-right: 0;
    }
  }

  // input code nested in panels until all old input styling is replaced
  input[type='text'], textarea {
    box-sizing: border-box;
    width: 100%;
    font-weight: 400;
    font-size: $general-font;
    &.text-4-digit {
      width: 60px;
    }
  }

  textarea {
    height: 100px;
  }
}

// styling for page containers (should be top level and contain everything)
.two-col-container {
  display: flex;
  // spacing
  .main-container {
    flex: 3;
  }
  .extra-container {
    flex: 2;
  }
  & > div:last-child {
    & > .panel {
      padding-right: $padding-panel;
    }
  }
}

.padded-container {
  padding: $padding-panel;
}

.one-col-container {
  display: flex;

  .main-container {
    flex: 3;

    &:last-child > .panel {
      padding-right: $padding-panel;
    }

    & > .horizontal-grid {
      padding-top: 0;
      padding-right: $padding-panel;
      & > .stretch-column {
        padding-top: 0;
        padding-right: 0;
      }
    }
  }
}

// styling for page containers (should be top level and contain everything)
.three-col-container {
  display: flex;
  // spacing
  .main-container {
    flex: 3;
  }
  .extra-container {
    flex: 2;
  }
  & > div:last-child {
    & > .panel {
      padding-right: $padding-panel;
    }
  }
}


// styling to get gutter menu working outside of gutter
.open-menu-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  background-color: $primary-light;
  height: fit-content;
  width: fit-content;
  border-bottom-right-radius: $radius-general;
  .gutter-item {
    padding-left: $padding-general;
    padding-right: $padding-small;
    i { display: none; }
    font-size: $font-header;
    padding-top: $padding-small;
    padding-bottom: $padding-small;

    &:last-child {
      border-bottom-right-radius: $radius-general;
    }
    &.legacy-link {
      background-color: $success;
    }

    &:hover {
      background-color: $secondary;
      color: black;
    }
  }
}



// SM Wrapper Section =====================
// ========================================
.sm-service-wrapper {
  width: 100%;
  padding-right: 75px
}

// No Data in Panel ===============
// ================================
.no-data {
  font-size: 1.3em;
  text-align: center;
  padding-top: 5px;
}

// Panel Header Icons Container ===========
// ========================================
.panel-icon-container {
  display:flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  vertical-align: center;
}

.icon-grey{
  color: $grey-dark;
}
.icon-alert{
  color: $danger;
}

// Review Monitor Section =================
// ========================================
.monitor-section {
  border: solid 1px #c6c6c6;
  border-radius: 5px;
  margin: 8px 0 0 0;
  padding: 0 !important;
  height: 100%;
}

.monitor-alert {
  border-radius: 0 5px 5px 0 !important;
  background-color: $danger-light;
  color: $danger;
}

.btm-monitor-alert {
  padding: 5px;
  background-color: $danger-light;
  color: $danger;
  font-size: .6rem;
  font-weight: bold
}
.rm-header {
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #c6c6c6;
  padding: 5px;
  background-color: #DDD;
  background-image: linear-gradient(to bottom, #fff, transparent);
}

.short-checkbox {
   height: 20px !important;
}
