// Place all the styles related to the Portals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  &#portals {
    table-layout: fixed;
    width: 1070px;
    
    td, th {
      text-align: center;
      width: 100px;

      &.url {
        text-align: left;
        width: 790px;
      }
    }
    
    tr {
      &.portal {
        td {
          vertical-align: middle;
          &.danger-zone {
            padding-top: 3px;
            input.button { padding: 2px 4px; }
          } 
        }
      } 
    }
  } 
  &#portal-fields {
    input[type="text"] {
      line-height: 17px;
    }
  }
}
