div {
  &#profile-details-container {
    div {
      float: left;
      width: 44%;
      &.left { margin: 0 0 0 2%; }
      &.right { width: 52%; }
    }
  }
  &#profile_supplemental_error {
    font: bold 1em sans-serif;
    margin-bottom: 1em;
    padding: 0.5em;
  }
}




form table textarea {
	width: 330px;
	height: 130px;
	padding: 3px;
	margin: 0px;
}

input.error {
	border: 2px solid red;
}

.first_ovrlay input[type="text"], .first_ovrlay input[type="password"], .first_ovrlay input[type="email"], .first_ovrlay input[type="tel"] {
	width: 90%;
	padding: 2px;
	font-size: 14px;
}

.second_ovrlay input[type="text"], .second_ovrlay input[type="password"], .second_ovrlay input[type="email"], .second_ovrlay input[type="tel"] {
	width: 94%;
	padding: 2px;
	font-size: 14px;
}

.third_ovrlay input[type="text"], .third_ovrlay input[type="password"], .third_ovrlay input[type="email"], .third_ovrlay input[type="tel"] {
	width: 90%;
	padding: 2px;
	font-size: 14px;
}

.fourth_ovrlay input[type="text"], .fourth_ovrlay input[type="password"], .fourth_ovrlay input[type="email"], .fourth_ovrlay input[type="tel"] {
	width: 90%;
	padding: 2px;
	font-size: 14px;
}

.first_ovrlay select, .second_ovrlay select, .third_ovrlay select, .fourth_ovrlay select, #sh_attr_select select{
	width: 90%;
	padding: 2px;
	font-size: 14px;
}

.first_ovrlay textarea, .second_ovrlay textarea, .third_ovrlay textarea, .fourth_ovrlay textarea {
	width: 90%;
	padding: 2px;
	font-size: 13px;
	height: 50px;
}

label.error {
	display: block;
	color: red;
	font-style: italic;
	font-weight: normal;
}

label.valid {
	background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/checked.gif') no-repeat;
	display: block;
	width: 16px;
	height: 16px;
}

form#profile select#profile_market_id {
	width: 90%;
}

td.align-top {
	vertical-align: top;
}



td.checkbox {
	float: left;
}

td select#profile_profile_type {
	width: 180px;
	height: 27px;
	font-size: 17px;
	vertical-align: middle;
}
td.choose_type_label {
	width: 150px;
	font-size: 10pt;
}

form textarea.profile_content {
	width: 90%;
	height: 50px;
	padding: 8px;
	font-size: 13px;
}

form textarea.comma-separated {
	width: 90%;
	height: 60px;
	padding: 8px;
	font-size: 13px;
}


/* character counter */ 

form#profile .counter {
	right: 0;
	top: 0;
	font-size: 10px;
	font-weight: 800;
	color: #888;
}
	
form#profile .char_warning { color:#600; }
form#profile .char_exceeded { color:#e00; }

form .counted {
	display: block;
}

span.conflict {
  color: red;
}

span.caution {
  color: red;
  font-weight: bold;
}

td.conflict {
	background-color: #FFFFCC;
}


section {
  &#profile-tracking-anomalies { 
    margin: auto;
    overflow: auto;
    padding: 0 5px;
    vertical-align: top;
    width: 1368px;
  }
  &#tracking-details {
    padding: 0 10px;
    width: 1070px;
  }
}


table {
  &#dormant-profiles, &#zombie-profiles { margin: 10px; }
  &.profiles {
    width: 98%;
    
    tbody {
      td {
        white-space: nowrap;
        
        &.changed {
          color: #800000;
          font-weight: 900;
        }
        &.change-status-links { 
          min-width: 100px;
          text-align: center;
        }
        &.danger-zone {
          cursor: default;
          text-align: center; 
          padding-top: 20px;
          width: 100%;
        }
        
        &.product-type { font-weight: bold; }
        &.profile-dimensions { 
          font-size: .86em;
          text-align: center;
        }
        &.profile-rank {
          font-weight: bold;
          text-align: center;
        }
        &.profile-template { 
          font-family: "Courier";
          font-size: .9em;
        }
      }
      
      tr {
        &.danger-zone-container { 
          border-bottom: 0;
          
          &:hover { background: none; }
        }
      }
    }
    th {
      vertical-align: bottom;
      &.title-container { font-size: 1.3em; }
    }
  }
  &#profile-instructions {
    margin-top: 17px;
    
    td { 
      &#profile-address { text-align: center; }
      &.supplementary-address { font-size: .89em; }
      &.url { text-align: center; }
    }
  }
  &#profile-details { 
    margin-left: 0px;
    table-layout: fixed;
    width: 445px;
    
    th {
      &.labels { width: 135px; }
      &.values { width: 310px; }
    }
  }
  &#profile-tracking-codes {
    td {
      &.profile-template { 
        font-family: "Courier";
        font-weight: bold;
        vertical-align: middle;
      }
    }
  }
  
  
  &.profiles {
    a { &.subtle { color: #666699; } }
    tbody {
      td {
        &.created { font-size: .93em; }
        &.deactivated { font-size: .93em; }
        &.designation { font-size: .87em; }
        &.id-type {
          div {
            &.name-marker { 
              a { 
                font-size: .89em;
                &.blue { color: blue; } 
              } 
            }
            a { &.subtle { font-size: .97em; } }
          }
        }
        &.market { 
          font-size: 0.93em;
          .warning { 
            color: red;
            font-style: italic;
          }
        }
        &.product-type { font-size: 0.93em; }
        &.rank { 
          font-weight: bold;
          text-align: center;
        }
      }
    }
    td, th {
      white-space: nowrap;
      
      &.deactivated { width: 14%; }
      &.designation { width: 25%; }
      &.id-type { width: 7%; }
      &.market { width: 30%; }
      &.product-type { width: 20%; }
      &.rank { width: 4%; }
    }
    td {
      &.id-type {
        div {
          &.account-number {
            a {
              font-size: 0.93em;
              font-weight: bold;
            }
          }
        }
      }
      &.profile-name { 
        font-size: 0.93em;
        font-family: Courier; 
      }
    }
    tr {
      &.section-header {
        span {
          &.inactive { 
            color: gray; 
            font-weight: bold;
          }
        }
      }
    }
  }
  
  
  th { 
    &#check-tracking-codes-link { 
      text-align: center;
      a { margin-left: 9px; }
    }
  }
}

.status-active {
  color: #57ad4e;
  text-transform: uppercase;
  
  span {
    background: #57ad4e;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
  }
}

.status-inactive {
  text-transform: uppercase;
  
  span {
    background: #fffffe;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
  }
}
