.hor-minimalist-b {
  & .support-link-container { text-align: right; }
}

.section-links {
  text-transform: none;
  float: right;
}

div.report-container {
  font-size: 12px;
  color: #00527a;

  & ul {
    list-style: none;
    padding-left: 0;
  }

  & ul > li {
    margin-left: 15px;
  }

  /* Prevent nested li's from getting messed up */
  & ul > li:before {
    content: "- ";
    margin-left: -15px;
  }

  & .subsection table {
    margin-top: 0px;
    margin-left: 0px;
  }
  & .numbers { text-align: right; }
  & table.large-table {
    font-size: 24px;
    border-collapse: collapse;
    border-bottom: 1px solid #6678b1;
    & .small-header {
      font-size: 14px;
    }
    &.medium-padding td {
      padding-right: 20px;
    }
  }
  & .simple-header > td {
    border-bottom: 1px solid #6678b1;
  }

  & .section-title {
    width: 97%;

    font-weight: normal;
    border-bottom: none;
    margin: 0;

    color: #00527a;
    font-family: Arial;
    font-size: 15px;
    text-transform: uppercase;
  }
  & .table-description {
    padding-top: 7px;
  }
}
