#reviews_pdf {
    color:#193E72;
}

#reviews_pdf .page {
    clear: both;
    font: normal 18px Arial;
    height: 17.5in;
    page-break-after: always;
    position: relative;
    width: 100%;
}

#reviews_pdf .page .social-info {
    width: 100%;
    padding: 0;
}

#reviews_pdf .page .social-info .social-logo {
    padding: 0;
}

#reviews_pdf .page .ratings {
    float: left;
    padding: .7em 1em;
}

#reviews_pdf .page .ratings img {
    width: 20px;
    vertical-align: top;
}

#reviews_pdf .page .review {
    display: block;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 40px;
    text-align: left;
    border-bottom: 3px solid #193E72;
    vertical-align: middle;
}
