div.admin-content{
	color: #666;
	right: 20px;
	padding: 25px;
}

.main-content h1 {
	color: #003399;
	font-size: 1.5em;
	border-bottom: 1px solid #CCC;
	margin: 0px 10px 0px 0px;
}

form table#role input[type=text] {
	width: 20em;
	padding: 3px;
	margin: 0px;
}

form table#role  input[type=text].form-number {
	width: 4em;
	height: 2em;
	padding: 2px;
	margin: 0px;
	font: normal normal normal 1.5em Arial, sans-serif;
	text-align: center;
}

form table#role input[type=text].form-tiny-number {
	width: 2em;
	height: 2em;
	padding: 2px;
	margin: 0px;
	font: normal normal normal 1.5em Arial, sans-serif;
	text-align: center;
}

form table#role textarea {
	width: 30em;
	height: 10em;
	padding: 3px;
	margin: 0px;
}

input.error {
	border: 2px solid red;
}

label.error {
	display: block;
	color: red;
	font-style: italic;
	font-weight: normal;
}

span.access_name {
	font-weight: bold;
	color: green;
}

td.align-top {
	vertical-align: top;
}



td.checkbox {
	float: left;
}

table#role_summary td {
	padding: 11px 15px;
	font-size: 10pt;
}



table {
  &#role {
    td {
      padding: 5px;
      
      &.label {
        font-size: 12pt;
        width: 150px;
      }
    }
  }
}
