div {

  &#sales-order-error-explanation {
    h2 { margin-left: 50px; }
    ul { margin-left: 50px; }
  }
  &#parent { display: none; }

  &.inline { display: inline; }
  &.sales-order-content {
    color: #666;
    height: 2870px;
    padding: 25px;
  	right: 20px;
  	width: auto;
  }
  &.sales-order-form-container { width: 80%; }
  &#sales-order-info-container {
    div {
      float: left;
      width: 49%;

      &.left { margin: 0 0 0 1.5%; }
      &.right { width: 47%; }
    }
  }
  &.service-time-index-container {
    margin: 0 0 0 1.8%;
  }
}

table {
  &.line-items {
    span {
      &.sale-type-name { font-size: 0.98em; }
      &.enabled {
        color: green;
        font-weight: bold;
      }
    }
  }
  &#line-items {
    table-layout: fixed;

    tbody {
      td {
        font-size: .9em;
        white-space: nowrap;

        &.attached-project { a { font-size: .8em; } }
      }
    }

    td, th {
      &.attached-project { width: 30px; }
      &.domain           { width: 185px; }
      &.expiration       { width: 65px; }
      &.id-sale-type     { width: 65px; }
      &.line-code        { width: 150px; }
      &.list-sale {
        padding-right: 0;
        width: 27px;
      }
      &.market       { width: 140px; }
      &.price        { width: 50px; }
      &.product-code { width: 58px; }
      &.product-type { width: 110px; }
      &.qty          { width: 10px; }
      &.status       { width: 40px; }
      &.update-status {
        width: 56px;
        a {
          font-size: 1em;
        }
      }
    }
    td {
      &.attached-project { vertical-align: top; }
      &.expired { color: #ff4040; }
      &.list-sale { text-align: right; }
      &.market { white-space: normal; }
      &.price { padding-left: 2px; }
      &.product-type {
        font-weight: normal;
        white-space: nowrap;
      }
      &.qty { text-align: right; }
    }

    thead {
      th { white-space: nowrap; }
    }

    tr {
      &#line-item-description-container {
        td {
          white-space: normal;

          div {
            color: #8b7d6b;
            font-size: 11.5px;
            text-align: center;
            padding: 0 30px 4px;
          }
        }
      }
      &.columns-header { td.price { padding-left: 0px; } }
      &.main-header {
        th {
          font-size: 1.3em;
          padding-bottom: 1px;
        }
      }
      &.inactive-line-item {
        background-color: #eeeeee;
        &:hover {
          background-color: #fef5ca;
        }
      }
    }
  }

  &#opportunity-details {
    tr {
      &.main-header {
        th {
          font-size: 1.3em;
          padding-bottom: 1px;
        }
      }
      &.section-header { td { text-align: center; } }
    }

    td { &#special-terms{ word-wrap: break-word; } }
  }

  &#sales-orders {
    tr {
      &.section-title {
        th {
          font-size: 1.3em;
          padding-bottom: 1px;
        }
      }
    }
  }
}

.line-items-table {
  & td, th { white-space: nowrap; }
}
