section {
  &#seo {
    div {
      &.error {
        font-size: 1.04em;
        letter-spacing: .4px;
      }
      &#notice {
        position: absolute;
        top: 150px;
        width: 1089px;
      }
      &#error {
        position: absolute;
        top: 150px;
        width: 1089px;
      }
    }
  }
  &#seo-record-edit {
    padding: 10px;

    table {
      &#edit-seo-record-title {
        th {
          font-size: 1.3em;
          vertical-align: bottom;
          &.supplemental-info {
            font-size: .97em;
            text-align: right;
          }
        }
        tr {
          &.main-header { &:hover { background: none; } }
          &.sub-header {
            &:hover { background: none; }
            th {
              border: 0;
              vertical-align: top;
            }
          }
        }
      }
    }
  }
}