a,
a:link,
a:hover,
a:active
a:visited { text-decoration: none; }


.notification {
  background: {
    position: 520px 9px;
    repeat: no-repeat;
  }
  color: #fff;
  font: {
   family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
   size: 14px;
   weight: bold;
  }
  margin: 0 auto 10px;
  padding: 0.75em 0.75em 0.75em 37px;

  &.notice { color: green; }
}


div {
  &#delete-selected-ndes {
    margin-left: 20px;

    .danger-zone {
      input {
        &.button {
          font-size: 1.1em;
          letter-spacing: .14px;
          padding: 6px 21px;
        }
      }
    }
  }

  &.container {
    margin: auto;
    overflow: hidden;
    padding: 0 15px;
    width: 1368px;
    &.overflow {
      overflow: visible;
    }


    div {
      &#report-title {
        border-bottom: 2.2px inset #296898;
        float: left;
        height: 23px;
        width: 100%;

        p {
          color: #00527a;
          font-family: Arial;
          font-size: 15px;
          font-weight: normal;
          margin-top: 1px;
          padding: 3px 0 0 10px;
          text-align: left;
          text-transform: uppercase;
        }
      }
    }

    section {
      &#content {
        float: left;
        min-height: 600px;
        margin: auto;
        width: 1368px;
      }
    }
  }
  &.nde-container {
    margin: auto;
    overflow: auto;
    padding: 0 5px;
    width: 1368px;

    td { &.nde-url { a { font-size: .89em; } } }
  }
  &.service-link-container {
    padding: 15px;

    a { font-size: 1.3em; }
  }
}


footer {
  background: #9c9c9c;
  border-radius: 4px;
  color: #fff;
  font-size: 1.1em;
  height: 25px;
  padding: 5px 0 0 10px;

  p {
    font-family: Arial;
    font-weight: bold;
    margin-top: 3px;
    text-transform: uppercase;
  }
}

section {
  &#services-fullmillment-summary {
    div {
      &.left {
        float: left;
        margin: 0;
        padding: 0;
        width: 50%;
      }

      &.right {
        float: right;
        margin: 0;
        padding: 0;
        width: 48%;
      }
    }

    fieldset {
      font-family: sans-serif;
      border: 5px solid #1f497d;
      background: #ddd;
      border-radius: 5px;
      padding: 15px;
      width: 85%;

      &#applicable-product-types {
        background: #f7f7f7;
        border-color: #1f497d;
        width: 88%;
        legend { background: #8b6914; }//gold 8b6914
      }

      legend {
        background: #1f497d;
        color: #fff;
        padding: 5px 10px ;
        font-size: 1.5em;
        border-radius: 5px;
        box-shadow: 0 0 0 5px #ddd;
        margin-left: 20px;
      }
    }

    table {
      &#evaluated-sites {
        margin: 7.5px;
        width: 48%;
        white-space: nowrap;
      }
      &#evaluated-line-items {
        margin: 7.5px;
        width: 48%;

        tbody {
          td {
            white-space: nowrap;
            &.expiration { font-size: .94em; }
            &.fulfilled-by { text-align: center; }
            &.product-description {
              font-size: .81em;
              text-align: left;
            }
            &.product-group {
              font-size: .94em;
              span { &.rank { font-weight: bold; } }
            }
          }
        }
        td {
          &.id-sale-type     { width: 15%; }
          &.product-group    { width: 13%; }
          &.procedure-market {
            width: 23%;
            span { &.market { font-size: .96em; } }
          }
          &.product-code {
            text-align: center;
            width: 25%;
          }
          &.expiration { width: 14%; }
          &.fulfilled-by {
            text-align: right;
            width: 10%;
          }

          span {
            &.sale-type-name { font-size: .85em; }
          }
        }
        tr {
          &.hover {
            background: #fef5ca none repeat scroll 0 0;
          }
        }
      }
      &#evaluated-services {
        margin: 7.5px 7.5px 30px;
        width: 94%;

        tbody {
          td {
            &.service-market  { font-size: .96em; }
            &.service-product { font-size: .93em; }
            &.service-rank { font-weight: bold; }
          }
        }

        td {
          &.id-type {
            a { &.subtle { font-size: .90em; } }
          }
          &.product-type    { width: 18%; }
          &.service-gallery {
            text-align: center;
            width: 18%;
            a { color: green; }
          }
          &.service-market  { width: 21%; }
          &.service-product {
            font-weight: normal;
            width: 13%;
          }
          &.service-rank {
            text-align: center;
            width: 4%;
          }
        }
        tr {
          &.hover {
            background: #fef5ca none repeat scroll 0 0;
          }
        }
      }
      &#gallery-thumb-services {
        margin: 15px 7.5px;
        width: 94%;
        tr {
          &.section-header {
            th { &.title-container { font-size: 1.1em; } }
          }
        }
      }
      &#profile-thumb-services {
        margin: 15px 7.5px;
        width: 94%;
        tr {
          &.section-header {
            th { &.title-container { font-size: 1.1em; } }
          }
        }
      }
      &.component-services {
        tbody {
          td {
            &.id-status {
              span {
                &.product-type {
                  font-size: .88em;

                  &.aafr-plastic-surgery { color: #2a6c61; }
                  &.breast-implants      { color: #ae344d; }
                  &.bariatric-surgery    { color: #889c0f; }
                  &.dentistry            { color: #037cb2; }
                  &.plastic-surgery      { color: #ff8e01; }
                  &.eye-care             { color: #04396b; }
                }
              }
            }
            &.gallery-thumb-product { font-size: .93em; }
            &.component_service-url-address {
              font-size: .94em;
              p { &.col5 { font-family: Courier; } }
            }
          }
        }
        th {
          &.how-evald { text-align: right; }
          span {
            &.component-fulfillment-status {
              font-weight: normal;
              text-align: right;
            }
            &.fulfilled { color: green; }
            &.unfulfilled { color: red; }
          }
        }
      }
      tbody {
        td {
          &.definition { color: #1f497d; }
          &.fulfilled-by {
            text-align: center;
            i { &.unfulfilled { color: red; } }
            span {
              &.fulfilled { color: green; }
              &.unfulfilled { color: red; }
            }
          }
          &.service-gallery {
            span { &.unfulfilled { color: red; } }
          }
        }
      }
      i { &.fa-1pt1 { font-size: 1.1em; } }
    }
    td {
      &.applicable-product-types { color: #1f497d; }
    }
  }


  &.document-parser {
    div {
      &.results {
        overflow: auto;
        padding: 1px 5px;

        table {
          &.scrape-results {
            td {
              font-size: .89em;
              white-space: nowrap;

              &.practice { font-size: .8em; }
            }
          }
        }
      }
      &.controls {
        table {
          &.control-bar {
            input[type="text"] {
              font-size: 13px;
              line-height: 16px;
              padding: 5px;
              width: 62em;
            }
            td {
              &#element-type { float: left; }
              &.field {
                &.small { input[type="text"] { width: 13em; } }
                input[type="text"] { width: 38em; }
              }
              &.label {
                font-size: 0.96em;
                font-weight: bold;
                padding-right: 5px;
                text-align: right;
              }
            }
          }
        }
        td { &.target-field { width: 62%; } }
      }
    }
  }
  &.service-link-container { padding: 15px; }
  &.tracking-codes {
    div {
      &.results { padding: 1px 100px; }
      &.controls {
        table {
          &.control-bar {
            input[type="text"] {
              font-size: 14px;
              line-height: 16px;
              padding: 5px;
              width: 35em;
            }
          }
        }
        td { &.target-field { width: 40%; } }
      }
    }
  }
}


table {
  &#non-deliverable-emails {
    div {
      &#amount-shown {
        font-size: .97em;
        margin-top: 76px;
      }
    }
    td, th {
      white-space: nowrap;

      &.error-type {
        font-size: .9em;
        font-weight: bold;
      }
      &.error-clarification { font-weight: normal; }
      &.form-name {
        color: #666699;
        font-family: Courier;
        font-size: .97em;
        vertical-align: middle;

        a {
          color: #666699;
          font-family: Courier;
          font-size: .97em;
        }
        div { margin-top: 3px; }
      }
      &.form-not-found { color: #00c5cd; }
      &.form-type {
        font-size: .98em;
        font-weight: bold;
      }
      &.label { text-align: right; }
      &.referrer-not-matching { color: blue; }
      &.reply-to { font-size: .91em; }
      &.timestamp {
        a {
          font-size: .97em;
          font-weight: bold;
        }
      }
    }
    tr {
      &.form-not-active { background-color: #ddd; }
      &.nondeliverable-email {
        td {
          &.danger-zone {
            padding: 5px 0px;
            input { &.button { padding: 2px 4px; } }
          }
        }
      }
    }
  }
}
