a.inactive:link              { color:gray; text-decoration:none; font-size: 11.5px; }
a.inactive:visited           { color:gray; text-decoration:none; font-size: 11.5px; }
a.inactive:hover             { color:gray; text-decoration:none; font-size: 11.5px; }
a.inactive:active            { color:gray; text-decoration:none; font-size: 11.5px; }
//For Site Improvements Chart
svg > g:last-child > g:last-child { pointer-events: none }
div.google-visualization-tooltip { pointer-events: none }



div {
  &#parent { display: none; }
  &#sites-error-explanation {
    h2 { margin-left: 50px; }
    ul { margin-left: 50px; }
  }

  &#site-improvement.main-container {
    margin-left: 1.5%;
    margin-right: 4px
  }
  &.inline { display: inline; }
  &.site-content {
    padding: 25px;
  }
  &.site-form-container { width: 80%; }
  &.site-info-container {
    div {
      float: left;
      width: 47%;

      &.left { margin: 0 0 0 1.5%; }
      &.right { margin-top: 2px; }
    }
  }
  &.online-service-info-container {
    div {
      float: left;
      width: 37%;

      &.left { margin: 0 0 0 1.5%; }
      &.right {
        margin-top: 2px;
        width: 60%;

        table { &.online-service { margin-top: 15px; }}
      }
    }
  }
  &.two-level-date { text-align: center; }
}




h1 { &.site-form-header .identifier { font-size: .95em; }}



section {
  &.danger-area { margin-left: 15px; }
}



span {
  &#purpose { font-weight: bold; }

  &.explanation {
    span {
      &.manage { font-weight: normal; }
      &.pay    { color: green; }
    }
  }
  &.form-subsection {
    color: #3B99FC;
    font-size: 14px;
    font-weight: bold;
    padding: 3px;
    white-space: nowrap;
  }
  &.main-identifier {
    color: green;
    margin-left: 2px;

    a { color: green; }
  }
}

.action-title {
  span {
    &.active { color: green; }
    &.inactive { color: red; }
  }
}




table {
  &#generic-services {
    th {
      white-space: nowrap;

      &.title-container {
        font-size: 1.15em;
        padding-bottom: 1px;
      }
    }
  }
  &#online-service-details {
    margin-left: 0;
    width: 400px;

    td {
      &.attribute-label {
        text-align: right;
        width: 95px;
      }
      &.attribute-value { width: 265px; }
      &.url {
        font-size: .9em;
        text-align: center;
      }
    }

    th {
      white-space: nowrap;

      &.support-link-container {
        text-align: right;
        a {
          font-weight: normal;
          font-size: 8pt;
        }
      }
    }

    tr {
      &.section-header {
        td {
          &.associated-site { a { font-size: .91em; } }
        }
      }
      td {
        &.url { a { font-size: .99em; } }
      }
    }
  }
  &#online-service-info {
    width: 645px;

    td {
      text-align: center;

      &.attribute-label {
        text-align: right;
        width: 55px;
      }
    }
    th {
      padding-right: 14px;
      text-align: right;
    }
  }
  &#online-services {
    th {
      &.title-container { &.inline { font-size: 1.15em; } }
    }
  }
  &#site-details {
    td {
      &.attribute-label { white-space: nowrap; }
      &.disabled, &.no { color: gray; }
      &.enabled, &.yes {
        color: green;
        font-weight: bold;
      }
      &.username {
        max-width: 298px;
        overflow-x: scroll;
      }
      &.password {
        min-width: 100px;
        max-width: 120px;
        width: 115px;
      }
    }
  }
  &#site-info { margin-left: 40px; }
  &#site-service {
    padding: 5px;
    td { border: 0; }
  }
  &#sites {
    width: 98%;

    tr {
      &.danger-zone-container {
        border-bottom: 0 none;
        &:hover { background: none; }
      }

      &.section-title {
        th {
          vertical-align: bottom;

          &.title-container {
            font-size: 1.3em;
            padding-bottom: 1px;
          }
        }
      }

      td {
        &.danger-zone {
          cursor: default;
          padding-top: 20px;
          text-align: center;
        }
      }
    }
  }
  &#site-info, &.sites-index {
    td {
      .status {
        text-transform: uppercase;

        &.up {
          color: #57ad4e;
          span { background: #57ad4e; }
        }
        &.inactive {
          color: #808080;
          span { background: #808080; }
        }
        &.down {
          color: #ea504d;
          span { background: #ea504d; }
        }
        &.started {
          color: #0644FF;
          span { background: #0644FF; }
        }
        &.unknown {
          color: #808080;
          span { background: #808080; }
        }

        span {
          border-radius: 50%;
          display: inline-block;
          height: 10px;
          width: 10px;
        }
      }
    }
  }


  &.online-service {
    td {
      padding: 3px 8px;
      white-space: nowrap;

      &.attribute-value { font-size: .92em; }
      &.automatic       { color: #8e388e; }
      &.ceatus          { color: green; }
      &.credentials {
        font-family: "Lucida Console", 'Monaco';
        font-size: .92em;
        vertical-align: middle;
      }

      &.non-ceatus { color: gray; }
      &.notes {
        padding: 18px;
        white-space: normal;
        word-wrap: break-word;
      }
      &.password-border { border-left: 1px solid #ccc; }
      &.setup-by { font-weight: bold; }
    }

    tr {
      &.main-header {
        a {
          font-size: 12.5px;
          font-weight: bold;
        }
      }
      &.section-header { td { padding: 4.5px 8px; } }
    }
  }
  &.online-services {
    td, th {
      &.fixed {
        white-space: nowrap;
        &.assoc-site {
          a { font-weight: bold; }
          font-size: .85em;
          width: 230px;
        }
        &.created-at  {
          text-align: left;
          width: 130px;
        }
        &.notes       { width: 125px; }
        &.setup-by    { width: 100px; }
        &.type-url    { width: 355px; }
      }
    }

    th {
      white-space: nowrap;

      &.title-container {
        font-size: 1.3em;
        padding-bottom: 1px;
        width: 34px;

        &.inline { font-size: 1.15em; }
      }
      &.type-url { text-align: right; }
    }

    tr {
      &.columns-header {
        select {
          border: 1px solid #003399;
          font-size: 11px;
          padding: 0px 1px;
        }
      }
      &.online-service {
        td {
          &.assoc-site {
            a { font-weight: bold; }
            font-size: .88em;
          }
          &.automatic { color: blue; }
          &.ceatus { color: green; }
          &.created-at { font-size: .88em; }
          &.credentials {
            font: .89em "Lucida Console", 'Monaco';
            padding: 10px 6px;

            span { &.login { font-weight: bold; } }
          }
          &.notes { font-size: .78em; }
          &.non-ceatus { color: gray; }
          &.setup-by {
            font-size: .9em;
            font-weight: bold;
          }
          &.type-url {
            font-size: .9em;
            a { font-size: .99em; }
            span { font-weight: bold; }
          }
          &.tooltippped {
            white-space: normal;
            word-wrap: break-word;
          }
        }
      }
      &.section-title {
        th {
          &.download {
            font-size: 0.97em;
            font-weight: normal;
            a {
              font-size: 0.93em;
              font-weight: bold;
            }
            i.add-record { color: #003399; }
          }
        }
      }
    }
  }
  &.site-form {
    input[type=text] {
      font-size: 14px;
      line-height: 17px;
      padding: 4px;

      &.url { width: 50em; }
      &.control-panel-url { width: 47em; }
      &.wp-url { width: 42em; }
      &.ip-address { width: 8em; }
      &.directory { width: 27em; }
      &.url-host  { width: 23em; }
      &.file-checkout { width: 10em; }
      &.ga-id { width: 19em; }

    }

    select {
      background-clip: padding-box;
    	border: 1px solid #B6B6B6;
    	border-radius: 3px;
      color: #404040;
    	font-family: 'Helvetica Neue', Arial,Helvetica, Verdana, sans-serif;
    	font-size: 14px;
      line-height: 14px;
    	height: auto;
    	padding: 3px;
    }

    td {
      padding: 6px 3px;

      &.label {
        font-size: 12px;
        font-weight: bold;
        white-space: nowrap;

        &.right { text-align: center;}
      }
    }

    textarea {
      font-size: 12px;
      height: 40px;
      padding: 4px;
      width: 210px;

      &#site_special_instructions {
        height: 70px;
        width: 700px;
      }
      &#site_db_notes {
        height: 50px;
        width: 700px;
      }
      &.wp-credential {
        height: 60px;
      }
    }
  }
  &.site-info {
    margin-left: 0px;

    td {
      padding: 2px 7px;

      &#account_number { a { font-size: 9pt; } }

      &.attribute-label {
        text-align: right;
        width: 123px;
      }
      &.credentials { font-size: 11.25px; }
      &.login-option { border-bottom: none; }
      &.google-login-row {
        border-top: none;
        text-align: center;
      }
      &.password-border { border-left: 1px solid #ccc; }

    }

    tr {
      &#control-panel-url {
        td {
          &.url {
            a { font-size: .9em; }
            white-space: normal;
            word-wrap: break-word;
          }
        }
      }
      &.main-header {
        th {
          font-size: 13.5px;

          a {
            font-size: 13.5px;
            font-weight: bold;
          }
        }
      }
      &.section-header {
        a { font-weight: bold; }
        td {
          background: #eee;
          border-top: 2px solid #ccc;
          border-bottom: 0;
          font-weight: bold;
          text-align: center;
          white-space: nowrap;

          &.site-id { text-align: left; }
        }
      }
      &.service-link-header {
        th {
          text-align: right;
          a { font-size: 8pt; }
        }
      }
    }
  }
  &.sites-index {
    width: 98%;
    th { white-space: nowrap; }
    td {
      white-space: nowrap;
      &.account-number {
        a {
          font-size: .93em;
          font-weight: bold;
        }
      }
      &.backup {
        color: #c4c4c4;
        font-weight: bold;
      }
      &.ga-id {
        font-family: Courier;
        font-size: .95em;
      }
      &.manage { font-weight: bold; }
      &.pay    { color: green; }
      &.primary { font-weight: bold; }
      &.purpose { font-size: .95em; }
      &.url { a { font-size: .94em; } }
    }

    tr {
      &.columns-header {
        background: #eee;
        td { white-space: nowrap; }
      }
      &.site-record {
        td {
          cursor: pointer;
          white-space: nowrap;

          &:hover {
            cursor: pointer;
            cursor: hand;
          }
          &.no-pointer {
            cursor: default;
            &:hover { cursor: default; }
          }
        }
      }
    }
  }
}




td {
  &.automatic { color: blue; }
  &.ceatus { color: green; }
  &.compound-field {
    padding: 1px;
    display: table-cell;
    td { padding: 0; }
  }
  &.non-ceatus { color: gray; }
  &.url { a { font-size: 9pt; } }
}




tr {
  &.site { a { font-size: 9pt; } }
}




ul#list_of_child_sites li {
  display: inline;
  list-style-type: none;
}


.ur {
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 4px;

  &.up { background: #57AD4E; }          // green
  &.down { background: #EA504D; }        // red
  &.started { background: #0644FF; }     // blue
  &.unknown { background:#808080; }      // gray
  &.unsuccessful { background:#FFb500; } // gold
}

#gaia_loginform {
  border: none;
  display: inline;
}

#gaia_loginform #signIn {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  display: inline;
}

#flash:empty {
  display: none;
}

#flash {
  margin: 0
}
