$plastic-surgery:     (plastic-surgery, #F7A897, #FFE2D2); // salmon
$dentistry:           (dentistry, #92C749, #E5EFC7); // green
$eye-care:            (eye-care, #68C7EC, #CFEDFB); // blue
$bariatric-surgery:   (bariatric-surgery, #B79EC7, #F0E3EF); // purple
$dermatology:         (dermatology, #F6A8CA, #FBE2ED); // pink
$legal:               (legal, #F0C23B, #FAF0B5); // yellow
$orthopedic:          (orthopedic, #ecc70f, #f3ebc4); // orange
$other:               (other, #00AEB3, #A9DDDD); // teal
$business-enterprise: (business-enterprise, #86888A, #CACCCE); // gray

$specialties: (
        $plastic-surgery,
        $dentistry,
        $eye-care,
        $bariatric-surgery,
        $dermatology,
        $orthopedic,
        $legal,
        $other,
        $business-enterprise
);

td, div, tr {
  @each $specialty in $specialties {
    &.#{nth($specialty, 1)}-color-dark {
      background-color: #{nth($specialty, 2)};
      & td { color: white; }
    }
    &.#{nth($specialty, 1)}-color-light {
      background-color: #{nth($specialty, 3)};
    }
  }
}

// should always overrid hor-minimalist-b hovering
.hor-minimalist-b {
  @each $specialty in $specialties {
    & .#{nth($specialty, 1)}-color-dark:hover {
      background-color: #{nth($specialty, 2)};
    }
    & .#{nth($specialty, 1)}-color-light:hover {
      background-color: #{nth($specialty, 3)};
    }
  }
}