@import "mixins";

#gutter-container {
  display: flex;
  min-height: 100%;
  #gutter-main {
    flex-grow: 1;
    flex-shrink: 1;
    padding-bottom: $padding-panel;
  }

  // colors
  #gutter-left {
    #top-left {
      .gutter-item {
        background-color: $primary-light;
        i.text-icon div {
          background-color: $primary-light-dark;
        }
      }
    }

    #bot-left {
      .gutter-item {
        background-color: $success;
      }
    }
  }
  #gutter-right {
    #top-right {
      .gutter-item {
        background-color: $tertiary;
        i.text-icon div {
          background-color: $tertiary-dark;
        }
      }
    }
    #bot-right {
      .gutter-item {
        background-color: $danger;
      }
    }
  }
  .gutter-item {
    color: $white;
    &.inactive-item {
      color: $grey-dark;
    }
    &.selected-item {
      background-color: $tertiary;
    }
  }

  #gutter-left #top-left, #gutter-left #bot-left, #gutter-right #top-right, #gutter-right #bot-right {
    a.gutter-item:hover {
      background-color: $secondary;
      color: black;
      i.text-icon div {
        background-color: $secondary-dark;
      }
    }
  }

  i.text-icon div {
    font-style: normal;
    border-radius: 50%;
  }

  // dimensions
  #gutter-left, #gutter-right {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    width: $size-gutter-collapsed;

    .gutter-content {
      position: absolute;
      display: flex;
      flex-direction: column;
      white-space: nowrap;

      .gutter-item {
        display: flex;
        span {
          flex-grow: 1;
          flex-shrink: 1;
          font-size: $font-header;
          //display: flex;
          flex-direction: column;
          justify-content: center;
          padding-right: $padding-small;
          padding-left: $padding-small;
          display: none;
        }

        i {
          flex-grow: 0;
          flex-shrink: 0;
          font-size: $font-gutter-icon;
          box-sizing: border-box;
          width: $size-gutter-collapsed;
          padding: $padding-small;
          text-align: center;
        }
      }

      // hovering shows full size items
      &:hover span {
        display: flex;
      }
    }
    .gutter-shut-off {
      width: 2px;
      height: 100%;
      position: absolute;
    }
  }

  // positioning
  #gutter-left {
    #top-left {
      position: sticky;
      top: 0;
    }
    #bot-left {
      position: sticky;
    }
    .gutter-content {
      left: 0;
      .gutter-item {
        &:first-child {
          border-top-right-radius: $radius-general;
        }
        &:last-child {
          border-bottom-right-radius: $radius-general;
        }
      }
    }
    .gutter-shut-off {
      left: $size-gutter-collapsed + $padding-panel - 2px;
    }
  }

  #gutter-right {
    #top-right {
      position: sticky;
      top: 0;
    }
    #bot-right {
      position: sticky;
    }
    .gutter-content {
      right: 0;
      .gutter-item {
        &:first-child {
          border-top-left-radius: $radius-general;
        }
        &:last-child {
          border-bottom-left-radius: $radius-general;
        }
      }
    }
    .gutter-shut-off {
      right: $size-gutter-collapsed + $padding-panel - 2px;
    }
  }
}

#submit-button {
  color: aliceblue;
   
}
