link href="/assets/styles.css" rel="stylesheet"
a.button(href=jjk_path)
  | Back to Home Page
h1 Jujutsu Kaisen Character List 

h2 Yuji Itadori 
img#myImage2 border="5" center="" height="400" width="600" src="https://static1.cbrimages.com/wordpress/wp-content/uploads/2021/11/E273E9C0-66E2-48F9-AEA1-E30872DA8FDF.jpeg"

h2 Sukuna
img#myImage2 border="5" center="" height="400" width="400" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbmR6R47-Vrm68AD2czD-a3pZETseS8twiGQ&usqp=CAU"

h2 Satoru Gojo
img#myImage2 border="5" center="" height="400" width="400" src="https://www.looper.com/img/gallery/satoru-gojos-powers-from-jujutsu-kaisen-explained/l-intro-1634607238.jpg" 

h2 Megumi Fushiguro
img#myImage2 border="5" center="" height="300" width="400" src="https://staticg.sportskeeda.com/editor/2023/02/7d17a-16754537065524.png?w=840"

h2 Nobara Kugisaki
img#myImage2 border="5" center="" height="300" width="400" src="https://staticg.sportskeeda.com/editor/2022/10/53080-16654550806994-1920.jpg"

h2 Kenjaku
img#myImage2 border="5" center="" height="300" width="400" src="https://static0.gamerantimages.com/wordpress/wp-content/uploads/2023/09/playing-with-the-death-jujutsu-kaisen.jpg"

h2 Yuta Okkotsu
img#myImage2 border="5" center="" height="300" width="400" src="https://sportshub.cbsistatic.com/i/2022/03/19/bda23fc4-a6f9-4f80-b346-cff38ab38a89/yuta-okkotsu-jujutsu-kaisen-0.jpg"

h2 Suguru Geto
img#myImage2 border="5" center="" height="300" width="400" src="https://static1.cbrimages.com/wordpress/wp-content/uploads/2023/02/jujutsu-kaisen-suguru-geto.jpg"

h2 Hana Kurusu
img#myImage2 border="5" center="" height="300" width="400" src="https://cdn.epicstream.com/images/ncavvykf/epicstream/245bb8c3836425dd4fdc78a67eaddb384464d1f1-1280x720.jpg?rect=0,24,1280,672&w=1600&h=840"

h2 Choso
img#myImage2 border="5" center="" height="300" width="400" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzx0vbqIktDpph6cD0Hfa_kINHTdux7pjhIA&usqp=CAU"



div
  a.button href='https://comicvine.gamespot.com/jujutsu-kaisen/4050-111792/characters/' target="_blank" JJk Character List